---
import type { User } from "@auth/core/types";
import { getToken, getTopData } from "@/pages/api/Spotify.json";

import TopUserCard from "@/components/TopUserCard.astro";
import Typography from "./Typography.astro";
import Action from "./Action.astro";

interface Props {
  user: User;
}

const { user } = Astro.props as Props;

// const accessToken = await getToken();
const accessToken = "BQDYLH_f8qd09npt1joq6th1HNcmiQmqENJpxw1TtOET5GyiCvc6SEqix7UIFcDrE1LKxcykai-ItNUJZoOwF3tU4sAb-k_VI_Kpp1P7ljBEtkzeZpJia7WWvGWqckYWCNzfhFbWv5z6RpsooBFyzmi1MoRiSXonaRYf_mrXQwpvc8wNDTjKToJ021GQgl2zdOGEwz4yE3SqxIaE";

const topArtists = await getTopData("artists", "5", "5", "short_term" , accessToken);
const topTracks = await getTopData("tracks", "5", "5", "short_term" , accessToken);
---

<section class="m-6 h-full flex flex-col justify-center items-center">
  <Typography
    as="h1"
    variant="big"
    color="white"
    class:list={"font-bold text-5xl sm:text-8xl mb-6"}
  >
    Welcome {user.name}!
  </Typography>

  <div class="w-full max-w-4xl space-y-4">
    <TopUserCard title="Top Artists" data={topArtists.items} />
    <TopUserCard title="Top Tracks" data={topTracks.items} />
  </div>

  <Action
    id="logout"
    class="w-8/12 text-sm md:text-base text-white mt-6"
    as="button"
    aria-label="Logout from spotify"
  >
    LogOut
  </Action>

  <!-- TODO: BENTO GRID -->

  <!-- <div class="grid auto-rows-[192px] grid-cols-3 gap-4">
    {[...Array(7)].map((_, i) => (
      <div
        
        class={`row-span-1 rounded-xl border-2 border-slate-400/10 bg-neutral-100 p-4 dark:bg-neutral-900 ${
          i === 3 || i === 6 ? "col-span-2" : ""
        }`}
      ></div>
    ))}
  </div> -->
</section>

<script>
  import { $ } from "@/lib/dom-selector";

  const { signOut } = await import("auth-astro/client");
  const $logout = $("#logout");

  if ($logout) $logout.onclick = () => signOut();
</script>
