---
import Typography from "@/components/Typography.astro";
import { SignIn, SignOut } from "auth-astro/components";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
console.log(session);
---

<section class="h-full flex flex-col justify-center items-center">
  <div class="flex justify-center flex-col sm:absolute sm:top-0 sm:left-0 p-8">
    <Typography
      as="h1"
      variant="big"
      color="white"
      class:list={"font-bold text-5xl sm:text-8xl"}
    >
      SPOTIFY
    </Typography>
  </div>

  <div
    class="flex flex-col justify-center items-center h-[70vh] sm:h-screen px-8 text-sm sm:text-lg"
  >
    <p class="text-center text-white">
      Spotify Wrapped gives you stats about your top artists and songs. <br /> To
      use it, you'll need to login with your Spotify account.
    </p>
    {
      session ? (
        <p class="text-5xl text-white">Hola , {session.user?.name}!</p>
        <SignOut class:list={'bg-white hover:opacity-35'}>Cerrar sesion</SignOut>
      ) : (
        <SignIn class:list={'bg-white hover:opacity-35 uppercase'} provider="spotify"> Iniciar con spotify </SignIn>
      )
    }
    <div>Iniciar sesion</div>
    <!-- <button id="login" class="bg-white hover:opacity-35">Iniciar sesion</button>
    <button id="logout" class="bg-white hover:opacity-35">Cerrar sesion</button> -->
  </div>

  <div
    class="flex justify-center flex-col sm:absolute sm:bottom-0 sm:right-0 p-8"
  >
    <Typography
      as="h2"
      variant="big"
      color="white"
      class:list={"font-bold text-5xl sm:text-8xl"}
    >
      WRAPPED
    </Typography>
  </div>
</section>

<!-- <script>
  import { $ } from "@/lib/dom-selector";
  const { signIn, signOut } = await import("auth-astro/client");

  const $login = $("#login");
  const $logout = $("#logout");

  $login.onclick = () => signIn();
  $logout.onclick = () => signOut();
</script> -->
